{% extends "base.twig" %}

{% block content %}

{% include 'hero.twig' %} {# <section id="hero"> #}

<div class="content-wrapper">

	{# NEW GROWTH #}
	{% set id = "intro" %}
	{% set heading = post.meta(id ~ '_heading') %}
	{% set subheading = post.meta(id ~ '_subheading') %}
	{% set text = post.meta(id ~ '_text')|wpautop %}
	{% set image = post.meta(id ~ '_image') %}
	{% set gallery = post.meta(id ~ '_gallery') %}
	{% set video = post.meta(id ~ '_video') %}
	{% set repeater = post.meta(id ~ '_repeater') %}
	{% set buttons = post.meta(id ~ '_buttons') %}
	{% set button = post.meta(id ~ '_button') %}

	<{{ heading ? 'section' : 'div' }} id="{{ id }}" class="section--{{ id }} section--default">
		<div class="admin-label">#{{ id }}</div>
		<div class="content width--default reveal">
			{% if heading %}
			<h2 class="{{ id }}__heading heading--overline">{{ heading }}</h2>
			{% endif %}
			{% if text %}
			<div class="{{ id }}__text text">{{ text }}</div>
			{% endif %}
			{% if repeater %}
			<div class="{{ id }}__repeater">
				{% for item in repeater %}
				<div class="item_container">
					<h3 class="item__heading">{{ item.heading }}</h3>
					<ol class="item__repeater ol--custom">
						{% for subitem in item.repeater %}
						<li class="subitem">
							<p class="subitem__label h4">{{ subitem.label }}</p>
						</li>
						{% endfor %}
					</ol>
				</div>
				{% endfor %}
			</div>
			{% endif %}
		</div>
	</{{ heading ? 'section' : 'div' }}>

	{# A BRIGHT FUTURE #}
	{% set id = "future" %}
	{% set heading = post.meta(id ~ '_heading') %}
	{% set subheading = post.meta(id ~ '_subheading') %}
	{% set text = post.meta(id ~ '_text')|wpautop %}
	{% set image = post.meta(id ~ '_image') %}
	{% set gallery = post.meta(id ~ '_gallery') %}
	{% set video = post.meta(id ~ '_video') %}
	{% set repeater = post.meta(id ~ '_repeater') %}
	{% set buttons = post.meta(id ~ '_buttons') %}
	{% set button = post.meta(id ~ '_button') %}

	<{{ heading ? 'section' : 'div' }} id="{{ id }}" class="section--{{ id }} section--background-image">
		<div class="admin-label">#{{ id }}</div>
		<div class="content width--default reveal">
			<div class="{{ id }}__content_container">
				{% if heading %}
				<h2 class="{{ id }}__heading heading--overline">{{ heading }}</h2>
				{% endif %}
				{% if subheading %}
				<h3 class="{{ id }}__subheading">{{ subheading }}</h3>
				{% endif %}
				{% if text %}
				<div class="{{ id }}__text text">{{ text }}</div>
				{% endif %}
			</div>
		</div>
		{% if image %}
		<picture class="{{ id }}__image picture--background">
			<img src="{{ Image(image).src }}" alt="{{ Image(image).alt }}" loading="lazy">
		</picture>
		{% endif %}
	</{{ heading ? 'section' : 'div' }}>

	{# MORE FOR YOU #}
	{% set id = "more" %}
	{% set heading = post.meta(id ~ '_heading') %}
	{% set subheading = post.meta(id ~ '_subheading') %}
	{% set text = post.meta(id ~ '_text')|wpautop %}
	{% set image = post.meta(id ~ '_image') %}
	{% set gallery = post.meta(id ~ '_gallery') %}
	{% set video = post.meta(id ~ '_video') %}
	{% set repeater = post.meta(id ~ '_repeater') %}
	{% set buttons = post.meta(id ~ '_buttons') %}
	{% set button = post.meta(id ~ '_button') %}

	<{{ heading ? 'section' : 'div' }} id="{{ id }}" class="section--{{ id }} section--block background--primary">
		<div class="admin-label">#{{ id }}</div>
		<div class="content width--default">
			{% if heading %}
			<h2 class="{{ id }}__heading heading--overline reveal">{{ heading }}</h2>
			{% endif %}
			{% if subheading %}
			<h3 class="{{ id }}__subheading">{{ subheading }}</h3>
			{% endif %}
			{% if repeater %}
			<ul class="{{ id }}__repeater picture--circle_repeater no-bullets">
				{% for item in repeater %}
				<li class="item reveal">
					<div class="picture--circle_container">
						<picture class="item__image picture--circle">
							{% if item.image %}
							<img src="{{ Image(item.image).src }}" alt="{{ Image(item.image).alt }}" loading="lazy">
							{% else %}
							{{ placeholder }}
							{% endif %}
						</picture>
					</div>
					<div class="item__content_container">
						{% if heading %}
						<h4 class="item__heading h3">{{ item.heading }}</h4>
						{% endif %}
						{% if item.text %}
						<p class="item__text">{{ item.text }}</p>
						{% endif %}
					</div>
				</li>
				{% endfor %}
			</ul>
			{% endif %}
		</div>
	</{{ heading ? 'section' : 'div' }}>

	{# WARM & WELCOMING #}
	{% set id = "welcoming" %}
	{% set heading = post.meta(id ~ '_heading') %}
	{% set subheading = post.meta(id ~ '_subheading') %}
	{% set text = post.meta(id ~ '_text')|wpautop %}
	{% set image = post.meta(id ~ '_image') %}
	{% set gallery = post.meta(id ~ '_gallery') %}
	{% set video = post.meta(id ~ '_video') %}
	{% set repeater = post.meta(id ~ '_repeater') %}
	{% set buttons = post.meta(id ~ '_buttons') %}
	{% set button = post.meta(id ~ '_button') %}

	<{{ heading ? 'section' : 'div' }} id="{{ id }}" class="section--{{ id }} section--background-image-flip">
		<div class="admin-label">#{{ id }}</div>
		<div class="content width--default reveal">
			<div class="{{ id }}__content_container">
				{% if heading %}
				<h2 class="{{ id }}__heading heading--overline">{{ heading }}</h2>
				{% endif %}
				{% if subheading %}
				<h3 class="{{ id }}__subheading">{{ subheading }}</h3>
				{% endif %}
				{% if text %}
				<div class="{{ id }}__text text">{{ text }}</div>
				{% endif %}
			</div>
		</div>
		{% if image %}
		<picture class="{{ id }}__image picture--background">
			<img src="{{ Image(image).src }}" alt="{{ Image(image).alt }}" loading="lazy">
		</picture>
		{% endif %}
	</{{ heading ? 'section' : 'div' }}>

	{# EDUCATION #}
	{% set id = "education" %}
	{% set heading = post.meta(id ~ '_heading') %}
	{% set subheading = post.meta(id ~ '_subheading') %}
	{% set text = post.meta(id ~ '_text')|wpautop %}
	{% set image = post.meta(id ~ '_image') %}
	{% set gallery = post.meta(id ~ '_gallery') %}
	{% set video = post.meta(id ~ '_video') %}
	{% set repeater = post.meta(id ~ '_repeater') %}
	{% set buttons = post.meta(id ~ '_buttons') %}
	{% set button = post.meta(id ~ '_button') %}

	{# <{{ heading ? 'section' : 'div' }} id="{{ id }}" class="section--{{ id }} section--default">
		<div class="admin-label">#{{ id }}</div>
		<div class="content width--default reveal">
			{% if heading %}
			<h2 class="{{ id }}__heading">{{ heading }}</h2>
			{% endif %}
			{% if text %}
			<div class="{{ id }}__text text">{{ text }}</div>
			{% endif %}
		</div>
	</{{ heading ? 'section' : 'div' }}> #}

</div>

{% endblock %}