<div id="contact" class="section--contact section--block">
	<div class="content width--default reveal">

		{# Address #}
		{% if options.address_line_1 or options.address_line_2 or options.city or options.province or options.postal_code %}
		<div class="address_wrapper">
			<span class="address__icon">
				{{ source(directory ~ '/static/images/icons/pin.svg') }}
			</span>
			<div class="address__text">
				{% if options.address_line_1 %}
				<p>{{ options.address_line_1 }}</p>
				{% endif %}
				{% if options.address_line_2 %}
				<p>{{ options.address_line_2 }}</p>
				{% endif %}
				<p>{% if options.address_city %}{{ options.address_city }}{% endif %}{% if options.address_city and options.address_province %}, {% endif %}{% if options.address_province %}{{ options.address_province }}{% endif %}{% if options.address_postal_code %}  {{ options.address_postal_code }}{% endif %}</p>
			</div>
		</div>
		{% endif %}

		{# Hours #}
		{% if options.hours %}
		<ul class="hours_list no-bullets">
			{% for category in options.hours %}
			<li class="hours__category">
				{# Heading, i.e. Sales #}
				{% if category.heading %}
				<h2 class="category__heading">{{ category.heading }}</h2>
				{% endif %}
				<ul class="hours_list no-bullets">
					{% for hours in category.repeater %}
					<li class="hours_wrapper">
						<span class="hours__text">
							{# Label, i.e. Monday - Friday #}
							<span class="hours__label">{{ hours.label }}:</span>
							{# Value, i.e. 9:00 - 5:00 #}
							<span class="hours__value">
								{% if hours.open_time and hours.close_time %}
								{{ hours.open_time }} - {{ hours.close_time }}
								{% endif %}
								{# Note, i.e. Closed #}
								{% if hours.note %}
								<span class="hours__note">{{ hours.note }}</span>
								{% endif %}
							</span>
						</span>
					</li>
					{% endfor %}
				</ul>
			</li>
			{% endfor %}
		</ul>
		{% endif %}

		{# Email #}
		{% if options.email_address %}
		<div class="email_wrapper">
			<span class="email__icon">
				{{ source(directory ~ '/static/images/icons/email.svg') }}
			</span>
			<span class="email__text">
				{{ fn('do_shortcode', '[email-obfuscate email="' ~ options.email_address ~ '"]') }}
			</span>
		</div>
		{% endif %}

		{# Phone #}
		{% if options.phone_number %}
		<a class="phone_wrapper" href="tel:{{ options.phone_number }}"  aria-label="Phone us at {{ options.phone_number }}">
			<span class="phone__icon">
				{{ source(directory ~ '/static/images/icons/phone.svg') }}
			</span>
			<span class="phone__text">
				<span class="phone__number">
					{% set phoneNumber = options.phone_number %}
					{% include 'partial/phone-number.twig' %}
				</span>
				{% if options.note %}
				<span class="phone__note">{{ number.note }}</span>
				{% endif %}
			</span>
		</a>
		{% endif %}

		{# Fax #}
		{% if options.fax_number %}
		<a class="fax_wrapper" href="tel:{{ options.fax_number }}"  aria-label="Fax us at {{ options.fax_number}}">
			<span class="fax__icon">
				{{ source(directory ~ '/static/images/icons/fax.svg') }}
			</span>
			<span class="fax__text">
				<span class="fax__number">
					{% set phoneNumber = options.fax_number %}
					{% include 'partial/phone-number.twig' %}
				</span>
				{% if options.fax_note %}
				<span class="fax__note">{{ options.fax_note }}</span>
				{% endif %}
			</span>
		</a>
		{% endif %}

		{# Social Media #}
		{% include 'partial/social-media.twig' %}

	</div>
</div>

{# Colophon #}
{% include 'partial/colophon.twig' %}